<template>
  <div class="footer">
    <div class="copyright">
      &copy; {{ year }}, Designed by
      <a href="#" target="_blank" rel="noopener">APS</a>.
    </div>
  </div>
</template>

<script>
  export default {
    name: 'foter',
    data() {
      return {
        year: new Date().getFullYear()
      };
    }
  }
</script>

<style type="text/css">
  
  .footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }

</style>