<template>
  <div class="hello" style="background-color: #fafafa;">
    <div>
      <img src="@/assets/header.jpg" class="img-fluid" style="width: 100%;" alt="...">
    </div>
    <div>
      <carousel ref="carousel" 
                :autoplay="true" 
                :nav="false" 
                :responsive="{0:{items:1,nav:false},900:{items:3,nav:false}}"
                :autoplayHoverPause = true >

          <div class="div-imagen">
            <div >
              <b-card class="mb-2 card-carousel">
                <b-card-text class="card-text-carousel">
                  <span class="card-title-carousel" >Papa con Chili 2x1</span>
                  <p class="card-title-carousel">$12</p>
                </b-card-text>

                <b-card-text style="text-align: justify;">
                  Papa Frita, Carne Molida, vegetales, Sal y Pimienta negra a gusto.
                </b-card-text>

                <b-button variant="outline-aps btn-block center" style="max-width: 80%;" @click="addCart">
                  <font-awesome-icon class="icon-left" :icon="['fas', 'shopping-cart']" />
                  ADD TO CART
                </b-button>
              </b-card>
            </div>
            <img class="img showText" src="@/assets/1.jpg">
          </div>


          <div class="div-imagen">
            <div >
              <b-card class="mb-2 card-carousel">
                <b-card-text class="card-text-carousel">
                  <span class="card-title-carousel">Hamburguesa Sencilla</span>
                  <p class="card-title-carousel ">$5</p>
                </b-card-text>

                <b-card-text style="text-align: justify;">
                  Carne picada, cebolla blanca, dientes de ajo, Sal y Pimienta negra a gusto.
                </b-card-text>

                <b-button variant="outline-aps btn-block center" style="max-width: 80%;" @click="addCart">
                  <font-awesome-icon class="icon-left" :icon="['fas', 'shopping-cart']" />
                  ADD TO CART
                </b-button>
              </b-card>
            </div>
            <img class="img showText" src="@/assets/2.jpg">
          </div>


          <div class="div-imagen">
            <div >
              <b-card class="mb-2 card-carousel">
                <b-card-text class="card-text-carousel">
                  <span class="card-title-carousel">Hot Dog Big</span>
                  <p class="card-title-carousel ">$7</p>
                </b-card-text>

                <b-card-text style="text-align: justify;">
                  Salchicha Polaca, cebolla blanca, dientes de ajo, Tomate, Mostaza, Ketchup, Mayo, Sal y Pimienta negra a gusto.
                </b-card-text>

                <b-button variant="outline-aps btn-block center" style="max-width: 80%;" @click="addCart">
                  <font-awesome-icon class="icon-left" :icon="['fas', 'shopping-cart']" />
                  ADD TO CART
                </b-button>
              </b-card>
            </div>
            <img class="img showText" src="@/assets/3.jpg">
          </div>


          <div class="div-imagen">
            <div >
              <b-card class="mb-2 card-carousel">
                <b-card-text class="card-text-carousel">
                  <span class="card-title-carousel">Hamburguesa Sencilla</span>
                  <p class="card-title-carousel ">$5</p>
                </b-card-text>

                <b-card-text style="text-align: justify;">
                  Carne picada, cebolla blanca, dientes de ajo, Sal y Pimienta negra a gusto.
                </b-card-text>

                <b-button variant="outline-aps btn-block center" style="max-width: 80%;" @click="addCart">
                  <font-awesome-icon class="icon-left" :icon="['fas', 'shopping-cart']" />
                  ADD TO CART
                </b-button>
              </b-card>
            </div>
            <img class="img showText" src="@/assets/2.jpg">
          </div>

          <div class="div-imagen">
            <div >
              <b-card class="mb-2 card-carousel">
                <b-card-text class="card-text-carousel">
                  <span class="card-title-carousel" >Papa con Chili 2x1</span>
                  <p class="card-title-carousel">$12</p>
                </b-card-text>

                <b-card-text style="text-align: justify;">
                  Papa Frita, Carne Molida, vegetales, Sal y Pimienta negra a gusto.
                </b-card-text>

                <b-button variant="outline-aps btn-block center" style="max-width: 80%;" @click="addCart">
                  <font-awesome-icon class="icon-left" :icon="['fas', 'shopping-cart']" />
                  ADD TO CART
                </b-button>
              </b-card>
            </div>
            <img class="img showText" src="@/assets/1.jpg">
          </div>

          <div class="div-imagen">
            <div >
              <b-card class="mb-2 card-carousel">
                <b-card-text class="card-text-carousel">
                  <span class="card-title-carousel">Hot Dog Big</span>
                  <p class="card-title-carousel ">$7</p>
                </b-card-text>

                <b-card-text style="text-align: justify;">
                  Salchicha Polaca, cebolla blanca, dientes de ajo, Tomate, Mostaza, Ketchup, Mayo, Sal y Pimienta negra a gusto.
                </b-card-text>

                <b-button variant="outline-aps btn-block center" style="max-width: 80%;" @click="addCart">
                  <font-awesome-icon class="icon-left" :icon="['fas', 'shopping-cart']" />
                  ADD TO CART
                </b-button>
              </b-card>
            </div>
            <img class="img showText" src="@/assets/3.jpg">
          </div>

    
          <!-- <template slot="prev" class="prev-icon">
            <chevron-left-icon size="4.5x" ></chevron-left-icon>
            <span class="sr-only">Previous</span>
          </template>

        
          <template slot="next" class="next-icon">
            <chevron-right-icon size="4.5x" ></chevron-right-icon>
            <span class="sr-only">Next</span>
          </template> -->

      </carousel>
    </div>
    
    <div class="row" style="margin-left: 5px; margin-right: 5px;">
      <div class="col-md-11 lg-12 sm-12">
        <b-input-group>
          <b-input-group-prepend>
            <span class="input-group-text">
              <font-awesome-icon class="icon-left" :icon="['fas', 'search']" /></span>
          </b-input-group-prepend>
          <b-form-input placeholder="Search item" v-model="search">
          </b-form-input>
        </b-input-group>
      </div>
      <div class="col-md-1 lg-12 sm-12">
        <b-button variant="aps center btn-block"  @click="searchItem">
          <font-awesome-icon class="icon-big" :icon="['fas', 'shopping-cart']" />
        </b-button>
      </div>
    </div>
    
    <div>
      <br>
    </div>

    <div class="col-md-12 bg-white">
      <b-tabs content-class="mt-3">
        <b-tab title="ENTRES" active>
          <div>ENTRES</div>
        </b-tab>
        <b-tab title="HAMBURGUER" >
          <div>HAMBURGUER</div>
        </b-tab>
        <b-tab title="FRIES" >
          <div>FRIES</div>
        </b-tab>
        <b-tab title="HOT DOGS" >
          <div>HOT DOGS</div>
        </b-tab>
        <b-tab title="DRINKS" >
          <div>DRINKS</div>
        </b-tab>
        <b-tab title="DESERTS" >
          <div>DESERTS</div>
        </b-tab>
        <b-tab title="EXTRAS" >
          <div>EXTRAS</div>
        </b-tab>
      </b-tabs>
    </div>

  </div>
</template>

<script>
  // import { ChevronRightIcon, ChevronLeftIcon } from 'vue-feather-icons'
  import carousel from 'vue-owl-carousel'


export default {

  name: 'Home',
  props: {
    msg: String
  },
  data() {
      return {
        icon: [],
        search: ''
      }
    },
  components: {
    carousel
    // ChevronRightIcon,
    // ChevronLeftIcon
  },
  methods:{
    addCart(){
      console.log("HOLA")
    },
    activateCard(){
      console.log("AQUI")
    },
    searchItem(){
      console.log("BUSCO EL ITEM")
    }
  },
  mounted(){
  }
}
</script>

<style>

.text-white{
  color: #000;
}

.icon-left{
  font-size: 22px; 
  float: left;
}

.icon-big{
  font-size: 22px; 
}

.bg-white{
  background-color: white;
}

.prev-icon{
  float: left;
}

.next-icon{
  float: right;
}

.card-text-carousel{
  padding-top: 20px; 
  color: #8a1992;
  text-align: left;
}

.card-title-carousel{
  font-size: 20px; 
  font-weight: bold;
}

.card-carousel{
  min-width:50%; 
  max-width:50%; 
  max-height:100%; 
  min-height:100%; 
  float:right;
}

.div-imagen {
  display:inline-block;
  position:relative;
  width: inherit;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.showText:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}


</style>
