<template>
    <div class="apollo-example">
        Login is here
        <div v-for="(value, index) in menuItems" :key="index">
            {{value.id}}
            {{value.name}}
        </div>
  </div>
</template>


<script>
import menuItems from '../graphql/MenuItems.gql'

export default {
  data () {
    return {
    }
  },

  apollo: {
    menuItems: {
      query: menuItems
    }
  },

  computed: {
    /* formValid () {
      return this.newMessage
    }, */
  },

  methods: {
    /* onMessageAdded (previousResult, { subscriptionData }) {
      return {
        messages: [
          ...previousResult.messages,
          subscriptionData.data.messageAdded,
        ],
      }
    },

    async onUploadImage ({ target }) {
      if (!target.validity.valid) return
      await this.$apollo.mutate({
        mutation: UPLOAD_FILE,
        variables: {
          file: target.files[0],
        },
        update: (store, { data: { singleUpload } }) => {
          const data = store.readQuery({ query: FILES })
          data.files.push(singleUpload)
          store.writeQuery({ query: FILES, data })
        },
      })
    } */
  },
}
</script>