<template>

  <div>
    <b-navbar toggleable="lg" type="dark" class="navbar-purple bg-purple">
      <span class="title-page">
        JUNIOR BURGUERS & FRIES 
      </span>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        
        <b-navbar-nav class="ml-auto">
          <!-- <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form> -->
          <b-navbar-nav>
            <li class="nav-item active">
              <router-link class="nav-link" to='/'>Home</router-link>
            </li>
            <li class="nav-item">
            <template>
              <div>
                <button class="nav-link buttom-nav" v-b-modal.modal-prevent-closing>Login</button>
                  <b-modal
                    id="modal-prevent-closing"
                    ref="modal"
                    title="LOG IN / SIGN UP"
                    @show="resetModal"
                    @hidden="resetModal"
                    @ok="handleOk" >
                    
                <b-tabs content-class="mt-3">
                  <b-tab title="LOG IN" active>
                    <form ref="form" @submit.stop.prevent="handleSubmit">
                      <b-form-group
                        :state="emailState"
                        label="Email *"
                        class="label-input"
                        label-for="email-input"
                        invalid-feedback="Email is required">   
                        <b-form-input
                          id="email-input"
                          v-model="email"
                          :state="emailState"
                          type="email"
                          required >    
                        </b-form-input>
                      </b-form-group>

                      <b-form-group
                        :state="passwordState"
                        label="Password *"
                        class="label-input"
                        label-for="password-input"
                        invalid-feedback="Password is required"> 

                        <b-form-input
                          id="password-input"
                          type="password"
                          v-model="password"
                          :state="passwordState"
                          required >    
                        </b-form-input>
                      </b-form-group>

                      <a href="#" @click="closeNav(true)">
                        <router-link class="link-password" to='/login' >
                          Forgot Password?
                        </router-link>
                      </a>

                      <div><br></div>

                      <div class="container">
                        <div class="container">
                          <b-button variant="outline-facebook btn-block center" style="max-width: 80%;">
                            <font-awesome-icon style="font-size: 22px; float: left;" :icon="['fab', 'facebook-f']" />
                            Continue with Facebook
                          </b-button>
                          <b-button variant="outline-google btn-block center" style="max-width: 80%;">
                            <font-awesome-icon style="font-size: 22px; float: left;" :icon="['fab', 'google']" />
                            Log In with Google
                          </b-button>
                        </div>
                      </div>

                    </form>
                  </b-tab>
                  <b-tab title="SIGN UP" class="label-input"><p>SIGN UP</p></b-tab>
                </b-tabs>
                   
                  </b-modal>
              </div>
            </template>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to='/register'>Register</router-link>
          </li>
          </b-navbar-nav>
          
          <!-- <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown> -->

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>

    <!-- <nav class="navbar navbar-purple bg-purple navbar-expand-lg">

      <span class="title-page">
        JUNIOR BURGUERS & FRIES 
      </span>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse topnav-right" id="navbarNavDropdown" >
        <ul class="navbar-nav" >
          <li class="nav-item active">
            <router-link class="nav-link" to='/'>Home</router-link>
          </li>
          <li class="nav-item">
            <template>
              <div>
                <button class="nav-link buttom-nav" v-b-modal.modal-prevent-closing>Login</button>
                  <b-modal
                    id="modal-prevent-closing"
                    ref="modal"
                    title="LOG IN / SIGN UP"
                    @show="resetModal"
                    @hidden="resetModal"
                    @ok="handleOk" >
                    
                <b-tabs content-class="mt-3">
                  <b-tab title="LOG IN" active>
                    <form ref="form" @submit.stop.prevent="handleSubmit">
                      <b-form-group
                        :state="emailState"
                        label="Email *"
                        class="label-input"
                        label-for="email-input"
                        invalid-feedback="Email is required">   
                        <b-form-input
                          id="email-input"
                          v-model="email"
                          :state="emailState"
                          type="email"
                          required >    
                        </b-form-input>
                      </b-form-group>

                      <b-form-group
                        :state="passwordState"
                        label="Password *"
                        class="label-input"
                        label-for="password-input"
                        invalid-feedback="Password is required"> 

                        <b-form-input
                          id="password-input"
                          type="password"
                          v-model="password"
                          :state="passwordState"
                          required >    
                        </b-form-input>
                      </b-form-group>

                      <a href="#" @click="closeNav(true)">
                        <router-link class="link-password" to='/login' >
                          Forgot Password?
                        </router-link>
                      </a>

                      <div><br></div>

                      <div class="container">
                        <div class="container">
                          <b-button variant="outline-facebook btn-block center" style="max-width: 80%;">
                            <font-awesome-icon style="font-size: 22px; float: left;" :icon="['fab', 'facebook-f']" />
                            Continue with Facebook
                          </b-button>
                          <b-button variant="outline-google btn-block center" style="max-width: 80%;">
                            <font-awesome-icon style="font-size: 22px; float: left;" :icon="['fab', 'google']" />
                            Log In with Google
                          </b-button>
                        </div>
                      </div>

                    </form>
                  </b-tab>
                  <b-tab title="SIGN UP" class="label-input"><p>SIGN UP</p></b-tab>
                </b-tabs>
                   
                  </b-modal>
              </div>
            </template>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to='/register'>Register</router-link>
          </li>
        </ul>
      </div>
    </nav> -->
</template>


<script>
    // import { FacebookIcon } from 'vue-feather-icons'
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faGoogle, faFacebookF } from '@fortawesome/free-brands-svg-icons'

    library.add(faGoogle,faFacebookF)

    export default {
      name: 'navbar',
      data() {
        return {
          email: '',
          password: '',
          emailState: null,
          passwordState: null,
          submittedData: [],
          icon: []
        }
      },
      components: {
        // FacebookIcon
      },
      methods: {
        checkFormValidityAll() {
          this.emailState = null
          this.passwordState = null
          const valid = this.$refs.form.checkValidity()
          //console.log( valid )
          this.emailState = valid
          this.passwordState = valid
          return valid
        },
        closeNav( response ){
          if( response ){
            this.resetModal()
            this.$bvModal.hide('modal-prevent-closing')
          }
        },
        resetModal() {
          this.email = ''
          this.password = ''
          this.emailState = null
          this.passwordState = null
          this.submittedData = []
        },
        handleOk(bvModalEvt) {
          bvModalEvt.preventDefault()
          this.handleSubmit()
        },
        handleSubmit() {
          if (!this.checkFormValidityAll()) {
            return
          }
          this.submittedData.push(this.email, this.password)
          console.log( this.submittedData )
          this.$nextTick(() => {
            this.$bvModal.hide('modal-prevent-closing')
            this.submittedData = []
          })
        }
      }
    }
</script>

<style type="text/css">

  .navbar-purple{
     background-color: #8a1992;
     color: white;
  }

  .center{
    margin-left: auto; 
    margin-right: auto;
  }

  .buttom-nav{
    background-color: transparent; 
    border: 0px solid transparent;
  }

  .title-page{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400; 
    font-size: 22px; 
    padding-left: 20px;
  }

  .topnav-right {
    float: right;
  }

  .label-input{
    color: #484848;
  }

  .link-password{
    font-weight: 600;
    color: #8a1992;
    text-decoration: none;
  }

  .nav-link{
    color: white;
  }

  .nav-link:hover{
    color: grey;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    float: right;
  }

</style>