<template>
  <div id="app">
    <navbar></navbar>
    <router-view />
    <!-- <foter></foter> -->
  </div>
</template>

<script>
  
  import navbar from '@/components/layouts/navbar/NavBar.vue'
  // import foter from '@/components/layouts/footer/Footer.vue'

export default {
  name: 'App',
  components: {
    navbar,
    // foter
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}
</style>
